<!DOCTYPE html>
<html lang="en">
<head>
 
 {{>headerlinks}}
 
</head>
<body>
{{>navbar}}

    <!-- //MAIN HEADER -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!-- left side div -->

                    <div class="col-md-12 col-12 main_header_left align-items-center" >

                        <figure>
                            <img height="400px" width="500px" src="images/404_page_cover.jpg" alt="error" id="img-fluid">
                        </figure>

                    

                       {{!-- <h1 style="color: orange ;" >Weather 24/7</h1>
                       <p>Experience weather intelligence at your fingertips with our comprehensive weather website, offering detailed forecasts
                         and personalized insights tailored to your location, empowering you to plan your day with confidence.</p> --}}
                        <!-- <a href="/Weather "> <button> Check Now </button></a> -->
                        <a href="/"><button> Go Back </button></a>

                    </div>

                     <!-- right side div -->

                    
                </div>
                
             </div>
        </div>
     </div>

     <!-- footer -->

{{>footer}}

</body>
</html>