<!DOCTYPE html>
<html lang="en">
<head>
 
 {{>headerlinks}}

</head>
<body>
{{>navbar}}

    <!-- //MAIN HEADER -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!-- left side div -->

                    <div class="col-md-6 col-12 main_header_right" >

                        <figure>
                            <img height="400px" width="400px" src="images\7133364.png" alt="error" id="img-fluid">
                        </figure>

                        

                     </div>


                    <div class="col-md-6 col-12 main_header_left" >

                       <h1 class="about_heading" style="color: orange ;" >Weather 24/7</h1>
                       <p class="about_para" >Experience weather intelligence at your fingertips with our comprehensive weather website, offering detailed forecasts
                         and personalized insights tailored to your location, empowering you to plan your day with confidence.</p>
                        <!-- <a href="/Weather "> <button> Check Now </button></a> -->

                    </div>

                     <!-- right side div -->

                    
                </div>
                
             </div>
        </div>
     </div>

     <!-- footer -->

{{>footer}}

</body>
</html>